/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para as abas */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
}

.tab button, .tab a {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    flex: 1;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover, .tab a:hover {
    background-color: #ddd;
}

.tab button.active, .tab a.active {
    background-color: #ccc;
}

/* Estilos para os cartões */
.card {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    padding: 10px;
}

.card-body ul {
    padding-left: 20px;
}

/* Estilos para o menu dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu a {
    color: #333;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Estilos para os inputs */
.form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Estilo geral para os links */
.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #f0f0f0;
}

/* Estilo para o botão de logout para que fique igual aos links */
.logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #333;
    border: none;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;  /* Empurra o botão para o final */
}

.logout-button:hover {
    background-color: #f0f0f0;
}
